<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zephyr Island info page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="navbar">
    <div class="nav-container">
      <div class="logo">
        <a href="/">
          <img src="/images/clean-logo.png" alt="Zephyr Island Logo" class="logo-img">
          Zephyr Island
        </a>
      </div>

      <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/media">Media</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
  </header>

  <main class="about-page">
    <h1>All About the Boys</h1>

    <div class="image-container">
      <figure class="bio-card">
        <img src="/images/band-group.JPG" alt="The boys">
        <figcaption>Straight chillin, unlike the villains. Always killin no matter what you feelin.</figcaption>
      </figure>

      <figure class="bio-card">
        <img src="/images/bonk-close.jpg" alt="Bonk bonkanado">
        <figcaption>Here he is, discount Chris Cornell. Do not be fooled. His bussy is the stuff of legend.</figcaption>
      </figure>

      <figure class="bio-card">
        <img src="/images/andy-close.jpg" alt="Andrew the bassist">
        <figcaption>Beauty. Grace. Slapped out notes all over your face.</figcaption>
      </figure>

      <figure class="bio-card">
        <img src="/images/ian-close.jpg" alt="Ian the guitarist">
        <figcaption>E boy. What can you say? He has got the goods.</figcaption>
      </figure>

      <figure class="bio-card">
        <img src="/images/syonn-close.jpg" alt="Syonn the drummer">
        <figcaption>He whacks and he thwacks, but he never talk smack. Drummalummadingdong.</figcaption>
      </figure>
    </div>
  </main>
</body>
</html>