<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zephyr Island Homepage</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <header class="navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="/"><img src="/images/clean-logo.png" alt="Zephyr Island Logo" class="logo-img">
        Zephyr Island</a>
    </div>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/media">Media</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
      <main>
        <h1>The Zephyr Island</h1>
        <figure class="media-item">
            <img src="/images/clean-logo.png" alt="The boys">
            <p>We are a psychedelic rock band from Houston, Texas.</p>
        </figure> 
      </main>
    </body>
</html>