<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zephyr Island Media</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <header class="navbar">
    <div class="nav-container">
      <div class="logo">
        <a href="/">
          <img src="/images/clean-logo.png" alt="Zephyr Island Logo" class="logo-img">
          Zephyr Island
        </a>
      </div>

      <nav class="nav-links">
        <a href="/">Home</a>
        <a href="/media">Media</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
  </header>

  <main>
    <h1>Sick wicked videos</h1>
    <p>Live performances and music videos from The Islanders</p>

    <div class="video-grid">
      <figure class="video-card featured-video">
        <div class="video-frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uFF81G-kkDU?si=wql8picsknBdhHwT" 
                title="Psilly Bison music video" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture; 
                web-share" referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
            </iframe>
        </div>    
        <figcaption>Psilly Bison music video</figcaption>               
      </figure>

      <figure class="video-card">
        <div class="video-frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/R7V7vjxwQcA?si=SEr29LsmrzDsZ4Iy" 
                title="Tempest: LIVE" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <figcaption>Tempest live performance</figcaption>
      </figure>     
      
      <figure class="video-card">
        <div class="video-frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XX0gyAGN4-A?si=QA0Vb4dtk3GPGP8t" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; 
              autoplay; clipboard-write; 
              encrypted-media; gyroscope; 
              picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>

            </iframe>
        </div>
        <figcaption>46 & 2 live performance</figcaption>
      </figure> 
      
            <figure class="video-card">
        <div class="video-frame">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AisIb_giS7k?si=mBjA3_MeAJWTqRN_" 
            title="YouTube video player" 
            frameborder="0" allow="accelerometer; 
            autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <figcaption>Morpheus live performance</figcaption>
      </figure>       

    </div>
  </main>

</body>
</html>